html,
body {
  background-color: #000814;
  overflow-x: hidden;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* scroolbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #e40754;
}

/* searchbar */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* recipe card */

.css-1jk1tfu-MuiPaper-root-MuiCard-root:hover {
  background-color: #e40754;
  color: #edf6f9;
  transition: 0.2s ease-in;
  transform: scale(1.09);
}

/* tags  */

.css-uw63ed-MuiButtonBase-root-MuiButton-root:hover {
  border-color: #edf6f9 !important;
}
