html,
body {
  background-color: #000814;
  overflow-x: hidden;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* scroolbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #e40754;
}

/* searchbar */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* recipe card */
.css-o69gx8-MuiCardMedia-root {
  transition: all 0.5s ease-in-out;
}
.css-o69gx8-MuiCardMedia-root:hover {
  transform: scale(0.9);
}

.css-1nzu4hs-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #e40754 !important;
}
/* tags  */

.css-uw63ed-MuiButtonBase-root-MuiButton-root:hover {
  border-color: #edf6f9 !important;
}
