.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
}
.css-o69gx8-MuiCardMedia-root:hover {
  background-color: #e40754;
  color: #edf6f9;
  transition: 0.2s ease-in;
  transform: scale(1.09);
}
.MuiBox-root css-186jwqk {
  margin: 0px !important;
  padding: 0px !important;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #000814;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #e40754;
}
